.activity {
    &__body {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "activity-heading activity-services-wrapper"
            "activity-control activity-services-wrapper";
        min-height: 31.5rem;
        background-color: var(--back-3, #f5f6f9);
        border-radius: 3rem;

        @include breakpoint(tablet) {
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            grid-template-areas:
                "activity-heading"
                "activity-services-wrapper"
                "activity-control";
            grid-row-gap: 2rem;
            min-height: unset;
            border-radius: 1.5rem;
            padding: 2rem;
        }
    }

    &__heading {
        grid-area: activity-heading;
        padding: 4rem 0 0 4rem;

        @include breakpoint(laptop) {
            padding: 2rem 0 0 2rem;
        }

        @include breakpoint(tablet) {
            padding: 0;
        }
    }

    &__control {
        grid-area: activity-control;
        align-self: self-end;
        display: flex;
        align-items: center;
        column-gap: 1rem;
        padding: 5rem 0 4rem 4rem;

        .button {
            width: 100%;
            max-width: 22.8rem;

            @include breakpoint(small-tablet) {
                max-width: 100%;

                &:last-child {
                    margin-top: 1rem;
                }
            }
        }

        .expand {
            margin-top: 2.5rem;

            @include breakpoint(mobile) {
                margin-top: 1.5rem;
            }
        }

        @include breakpoint(laptop) {
            padding: 2rem 0 2rem 2rem;
        }

        @include breakpoint(tablet) {
            padding: 0;
        }

        @include breakpoint(small-tablet) {
            flex-direction: column;
            align-items: stretch;
        }
    }

    &__title {
        display: flex;
        align-items: center;
        column-gap: 1rem;
        margin-bottom: 2rem;

        .icon {
            width: 3rem;
            height: 3rem;

            @include breakpoint(mobile) {
                width: 1.7rem;
                height: 1.7rem;
            }
        }

        @include breakpoint(small-tablet) {
            column-gap: 0.8rem;
            margin-bottom: 1.2rem;
        }
    }

    &__text {
        padding-right: 2rem;
        color: var(--grey, #7e8397);

        @include breakpoint(small-tablet) {
            padding-right: unset;
        }
    }

    &__list-title {
        @include font(1.8rem, 1.111, 600);
        display: block;
        margin-bottom: 1.5rem;
        padding-bottom: 1.5rem;

        border-style: solid;
        border-color: rgba(223, 224, 228, 0.75);
        border-width: 0 0 1px 0;

        @include breakpoint(mobile) {
            @include font(1.6rem, 1.25, 600);
            margin-bottom: 1.2rem;
            padding-bottom: 1.2rem;
        }
    }

    &__list {
        li {
            margin-bottom: 1rem;
                
            &:last-child {
                margin-bottom: 0;
            }    
        }
    }
    
    &__link {
        position: relative;
        display: block;
        padding-left: 1.4rem;
        cursor: pointer;

        span {
            @include breakpoint(mobile) {
                line-height: 1.4285;
            }
        }

        .icon {
            position: absolute;
            top: 0.7rem;
            left: 0;
            z-index: 1;

            width: 0.6rem;
            height: 1rem;

            @include breakpoint(mobile) {
                top: 0.6rem;
                width: 0.5rem;
                height: 0.8rem;
            }
        }

        &:hover {
            color: var(--blue, #00a9c1);
        }

        @include breakpoint(mobile) {
            padding-left: 1rem;
        }
    }

    &__services {
        height: 100%;
        padding: 2.9rem 3.5rem;
        background: var(--white, #fff);
        border-radius: 2rem;

        @include breakpoint(laptop) {
            padding: 2rem;
        }

        .expand {
            margin-top: 1.8rem;
        }

        &--collapsed {
            .activity__list {
                li {
                    display: none;

                    &:nth-child(-n + 4) {
                        display: block;
                    }

                    @include breakpointMF(portrait-tablet) { 
                        &:nth-child(-n + 5) {
                            display: block;
                        }
                    }
                }
            }
        }
    }
    
    &__services-wrapper {
        grid-area: activity-services-wrapper;
        padding: 1rem;

        @include breakpoint(tablet) {
            padding: 0;
        }

        &--full {
            .activity__services {
                .expand {
                    opacity: 0;
                    visibility: hidden;
                    pointer-events: none;
                }
            }
        }
    }
}