.cases-section {
    &__dropdowns {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;
    }

    &__dropdown {
        &.select {
            width: 34rem;
            margin: unset;
        }

        @include breakpoint(small-tablet) {
            display: none;
        }
    }

    &__dropdowns-mobile {
        display: none;
        width: 100%;
        
        @include breakpoint(small-tablet) {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        align-items: stretch;
        grid-auto-rows: minmax(33rem, auto);

        @include breakpoint(small-tablet) {
            grid-template-columns: 100%;
            grid-auto-rows: minmax(26rem, auto);
            gap: 1.5rem;
        }
    }

    &__add {
        &.press-section__add {
            margin-top: 4.5rem;

            @include breakpoint(laptop) {
                margin-top: 3rem;
            }

            @include breakpoint(portrait-tablet) {
                margin-top: 2.5rem;
            }
        }
    }
}