
.footer-contacts { 
    padding: 3.5rem 4rem 4rem;
    border-radius: 1.5rem;
    background: rgba(3, 58, 67, 0.50);
    backdrop-filter: blur(4.5px);

    @include breakpoint(portrait-tablet) {
        padding: 2rem;
        border-radius: 1rem;
    }

    &__phones {
        margin-bottom: 3.5rem;

        @include breakpoint(portrait-tablet) {
            margin-bottom: 2.5rem;
        }
    }
     
    &__phone {
        margin-bottom: 3.5rem;

        &:last-child {
            margin-bottom: 0;
        }

        @include breakpoint(portrait-tablet) {
            margin-bottom: 2.5rem;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__list {
        li {
            margin-bottom: 1rem;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__span {
        font-weight: 500;
        white-space: nowrap;
    }

    &__button {
        margin-top: 4rem;
        
        &.button {
            width: 100%;
            max-width: 31rem;
        }

        @include breakpoint(portrait-tablet) {
            margin-top: 2.5rem;
        }
    }

    &__socials {
        display: flex;
        align-items: center;
        column-gap: 1rem;
        margin-top: 3.5rem;

        @include breakpoint(portrait-tablet) {
            column-gap: 0.5rem;
            margin-top: 2.5rem;
        }
    }

    &--smaller {
        padding: 0;
        border-radius: unset;
        background: unset;
        backdrop-filter: unset;

        .footer-contacts__span {
            @include font(1.4rem, 1.428, 500);
        }

        .footer-contacts__button {
            max-width: 50rem;
            margin-top: 2rem;
        }

        .footer-contacts__phone {
            margin-bottom: 2rem;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .footer-contacts__phones {
            margin-bottom: 2rem;
        }

        .footer-contacts__list {
            margin-bottom: 2rem;
        }

        .page-footer__socials {
            column-gap: 0.5rem;
        }
    }

    &--clean {
        padding: 0;
        background-color: transparent;
        border-radius: unset;

        .footer-contacts__button {
            margin-top: 4rem;
            
            &.button {
                width: 100%;
                max-width: 100%;
            }

            @include breakpoint(portrait-tablet) {
                margin-top: 2.5rem;
            }
        }
    }
}