.hero {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    height: 100vh;
    height: 100dvh;

    @include breakpoint(tablet) {
        height: auto;
        min-height: calc(100vh - 4rem);
        min-height: calc(100dvh - 4rem);
    }

    .page-header__site-container {
        flex-grow: 1;
        padding-top: var(--header-height);

        @include breakpoint(portrait-tablet) {
            max-width: calc(100% - 1rem);
            padding-left: 0;
            padding-right: 0;
        }

        .swiper-pagination {
            position: absolute;
            top: calc(100% + 2rem);
            left: 50%;

            display: flex;
            align-items: center;
            column-gap: 4px;

            width: 70%;
            transform: translateX(-50%);

            opacity: 0;
            visibility: hidden;
            pointer-events: none;

            @include breakpoint(tablet) {
                opacity: 1;
                visibility: visible;
                pointer-events: all;
            }

            .swiper-pagination-bullet {
                flex-grow: 1;
                height: 3px;
                border-radius: 1.5px;
                background-color: var(--blue, #00a9c1);
                opacity: 0.25;
            }

            .swiper-pagination-bullet-active {
                opacity: 1;
            }
        }
    }

    &__inner-wrapper {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 100%;
        border-radius: 3rem;
        background-color: var(--back-2, #f3f4f8);

        &::after {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 10;

            height: 100%;
            aspect-ratio: 1 / 1.07;

            background-image: url("data:image/svg+xml, %3Csvg%20width%3D%22727%22%20height%3D%22775%22%20viewBox%3D%220%200%20727%20775%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M630.795%20153.693L713.718%20-73.9482H762.346C753.481%20-51.4131%20744.622%20-28.884%20735.765%20-6.35968C706.301%2068.5683%20676.858%20143.444%20647.281%20218.32H645.903H613.367L546.19%2051.4928H594.233L629.853%20153.687L630.315%20155.012L630.795%20153.693ZM742.993%20215.8H697.03V169.831H742.993V215.8Z%22%20stroke%3D%22%2300A4C0%22%2F%3E%0A%3Cpath%20d%3D%22M664.447%20283.947L581.524%20511.589H532.896C541.76%20489.056%20550.618%20466.529%20559.474%20444.007C588.939%20369.077%20618.383%20294.199%20647.961%20219.32H649.339H681.875L749.052%20386.148H701.009L665.389%20283.954L664.927%20282.629L664.447%20283.947ZM552.249%20221.955H598.211V267.924H552.249V221.955Z%22%20stroke%3D%22%23EAD900%22%2F%3E%0A%3Cpath%20d%3D%22M616.821%20662.103L699.744%20434.461H748.372C739.508%20456.993%20730.65%20479.52%20721.794%20502.041C692.329%20576.972%20662.885%20651.851%20633.307%20726.73H631.929H599.393L532.216%20559.902H580.259L615.879%20662.096L616.341%20663.421L616.821%20662.103ZM729.019%20724.095H683.057V678.126H729.019V724.095Z%22%20stroke%3D%22%2300A4C0%22%2F%3E%0A%3Cpath%20d%3D%22M650.473%20792.356L567.55%201020H518.922C527.787%20997.465%20536.645%20974.938%20545.501%20952.416C574.965%20877.486%20604.409%20802.608%20633.987%20727.729H635.365H667.901L735.079%20894.557H687.036L651.415%20792.363L650.954%20791.038L650.473%20792.356ZM538.275%20730.364H584.238V776.333H538.275V730.364Z%22%20stroke%3D%22%2300A4C0%22%2F%3E%0A%3Cpath%20d%3D%22M419.35%20496.681L502.273%20269.039H550.9C542.016%20291.622%20533.139%20314.199%20524.263%20336.772C494.818%20411.652%20465.394%20486.48%20435.836%20561.308H434.458H401.922L334.744%20394.48H382.787L418.408%20496.674L418.869%20497.999L419.35%20496.681ZM531.662%20558.673H485.7V512.704H531.662V558.673Z%22%20stroke%3D%22%2300A4C0%22%2F%3E%0A%3Cpath%20d%3D%22M453.117%20626.935L370.194%20854.576H321.566C330.43%20832.043%20339.288%20809.516%20348.145%20786.994C377.609%20712.064%20407.053%20637.186%20436.631%20562.308H438.009H470.545L537.722%20729.135H489.679L454.059%20626.941L453.597%20625.616L453.117%20626.935ZM340.804%20564.942H386.767V610.911H340.804V564.942Z%22%20stroke%3D%22%23EAD900%22%2F%3E%0A%3C%2Fsvg%3E%0A");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            content: "";

            @include breakpoint(tablet) {
                top: unset;
                bottom: 0;
                height: 50%;
            }
        }

        @include breakpoint(tablet) {
            border-radius: 1rem;
        }

        @include breakpoint(mobile) {
            border-radius: 1.5rem;
        }
    }

    &__body {
        position: relative;
        z-index: 30;
        display: flex;
        align-items: stretch;
        width: 100%;
        max-width: calc(var(--max-container-width, 140rem) + 2 * var(--content-padding, 2rem));

        @supports (width: unquote("max(20vw, 100px)")) {
            padding-left: unquote("max(env(safe-area-inset-left, 1.4rem), var(--content-padding, 2rem))");
            padding-right: unquote("max(env(safe-area-inset-right, 1.4rem), var(--content-padding, 2rem))");
        }

        height: 100%;
        margin: 0 auto;

        @include breakpoint(tablet) {
            flex-direction: column;
            padding: 0 2rem;
        }
    }

    &__left-block {
        flex-grow: 1;
        display: flex;
        align-items: center;
        margin-right: -5rem;
        max-width: 60%;
        padding: 10.5% 0 11%;

        @include breakpoint(desktop) {
            max-width: 70%;
            padding: 5% 0;
        }

        @include breakpoint(tablet) {
            flex: 0 1 auto;
            max-width: 100%;
            margin-right: unset;
            padding: 6rem 0 0;
        }
    }

    &__swiper {
        &.swiper {
            height: 100%;
            margin: unset;
        }
    }

    &__right-block {
        flex-grow: 1;
        max-width: 45%;

        @include breakpoint(desktop) {
            max-width: 40%;
        }

        @include breakpoint(tablet) {
            flex: 1 0 50%;
            max-width: 100%;
            aspect-ratio: 1 / 1.07;
        }

        .hero__swiper {
            &.swiper {
                padding-top: 5rem;

                @include breakpoint(tablet) {
                    overflow: visible;
                }

                @include breakpoint(portrait-tablet) {
                    padding-top: 4rem;
                }
            }
        }
    }

    &__swiper-slide {
        height: 100%;
    }

    &--auto-height {
        height: auto;
        min-height: unset;
    }

    &--partners {
        .hero__inner-wrapper {
            &::after {
                aspect-ratio: 1.6 / 1;
                background-image: url("data:image/svg+xml, %3Csvg%20width%3D%22393%22%20height%3D%22245%22%20viewBox%3D%220%200%20393%20245%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M296.795%2052.6934L379.718%20-174.948H428.346C419.481%20-152.413%20410.622%20-129.884%20401.765%20-107.36C372.301%20-32.4317%20342.858%2042.4444%20313.281%20117.32H311.903H279.367L212.19%20-49.5072H260.233L295.853%2052.6868L296.315%2054.0116L296.795%2052.6934ZM408.993%20114.8H363.03V68.8313H408.993V114.8Z%22%20stroke%3D%22%2300A4C0%22%2F%3E%0A%3Cpath%20d%3D%22M330.447%20182.947L247.524%20410.589H198.896C207.76%20388.056%20216.618%20365.529%20225.474%20343.007C254.939%20268.077%20284.383%20193.199%20313.961%20118.32H315.339H347.875L415.052%20285.148H367.009L331.389%20182.954L330.927%20181.629L330.447%20182.947ZM218.249%20120.955H264.211V166.924H218.249V120.955Z%22%20stroke%3D%22%23EAD900%22%2F%3E%0A%3Cpath%20d%3D%22M85.3497%20395.681L168.273%20168.039H216.9C208.016%20190.622%20199.139%20213.199%20190.263%20235.772C160.818%20310.652%20131.394%20385.48%20101.836%20460.308H100.458H67.9215L0.74426%20293.48H48.7875L84.4077%20395.674L84.8695%20396.999L85.3497%20395.681ZM197.662%20457.673H151.7V411.704H197.662V457.673Z%22%20stroke%3D%22%2300A4C0%22%2F%3E%0A%3C%2Fsvg%3E%0A");

                @include breakpoint(tablet) {
                    aspect-ratio: 1;
                    background-image: url("data:image/svg+xml, %3Csvg%20width%3D%22107%22%20height%3D%22106%22%20viewBox%3D%220%200%20107%20106%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M97.9521%2050.6833L124.905%20-23.9961H140.028C137.197%20-16.7333%20134.368%20-9.47238%20131.54%20-2.21301C121.963%2022.3691%20112.393%2046.9339%20102.779%2071.4987H102.56H92.1822L70.5503%2017.2781H85.4752L97.0092%2050.6768L97.4714%2052.0152L97.9521%2050.6833ZM133.874%2070.6695H119.565V56.2152H133.874V70.6695Z%22%20stroke%3D%22%2300A4C0%22%2F%3E%0A%3Cpath%20d%3D%22M108.29%2093.3145L81.3371%20167.994H66.2139C69.0442%20160.732%2071.8726%20153.472%2074.7003%20146.214C84.2779%20121.631%2093.8487%2097.065%20103.463%2072.499H103.682H114.06L135.692%20126.72H120.767L109.233%2093.321L108.77%2091.9826L108.29%2093.3145ZM72.3677%2073.366H86.6773V87.8202H72.3677V73.366Z%22%20stroke%3D%22%23EAD900%22%2F%3E%0A%3Cpath%20d%3D%22M29.0224%20163.537L55.9751%2088.8574H71.0982C68.2612%2096.1364%2065.4261%20103.413%2062.5916%20110.689C53.0208%20135.255%2043.4568%20159.804%2033.8493%20184.352H33.6305H23.2525L1.62062%20130.132H16.5456L28.0795%20163.53L28.5417%20164.869L29.0224%20163.537ZM64.9818%20183.485H50.6722V169.031H64.9818V183.485Z%22%20stroke%3D%22%2300A4C0%22%2F%3E%0A%3C%2Fsvg%3E%0A");
                }
            }
        }
    }

    &__secondary-heading {
        position: relative;
        z-index: 5;
        padding: 15rem 0 4.5rem;

        @include breakpoint(tablet) {
            padding: 15rem 0 2rem;
        }

        @include breakpoint(portrait-tablet) {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: flex-end;
            min-height: 20rem;
            padding: 5rem 0 2rem;
        }
    }

    &--about {
        .hero__inner-wrapper {
            &::after {
                content: none;
            }
        }

        .hero__body {
            aspect-ratio: 2.37 / 1;
            max-width: unset;
            padding: unset;
            background-color: lightgray;

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 10;
                transform: translate(-50%, -50%);
                width: 100%;
                min-height: 100%;
                object-fit: cover;
                object-position: center;
            }

            @include breakpoint(portrait-tablet) {
                aspect-ratio: 1.345 / 1;

                img {
                    height: 100%;
                }
            }
        }

        &.hero--map {
            height: auto;

            @include breakpoint(tablet) {
                height: auto;
                min-height: unset;
            }

            @include breakpoint(portrait-tablet) {
                min-height: calc(100dvh - 4rem);
            }
            
            .hero__body {
                position: relative;
                width: 100%;
                height: 100%;
                aspect-ratio: unset;
            }

            .hero__site-container {
                position: relative;
                z-index: 50;
                padding-top: 6rem;
                padding-bottom: 6rem;

                @include breakpoint(laptop) {
                    padding-top: 3rem;
                    padding-bottom: 3rem;
                }

                @include breakpoint(portrait-tablet) {
                    padding-top: 1.5rem;
                    padding-bottom: 30vh;
                }
            }
        }
    }

    &__name-slogan-wrapper {
        position: absolute;
        left: 50%;
        bottom: 0;
        z-index: 20;

        display: flex;
        align-items: center;
        column-gap: 0;

        width: calc(100% - 2.4rem);
        transform: translate(-50%, 3%);
    }

    &__name-slogan {
        width: 100%;
    }

    &--empty {
        .hero__inner-wrapper {
            background-color: transparent;
            border-radius: unset;

            &::after {
                content: none;
            }
        }

        .hero__secondary-heading {
            min-height: unset;
            padding: 15rem 0 0rem;

            @include breakpoint(tablet) {
                padding: 15rem 0 0rem;
            }

            @include breakpoint(portrait-tablet) {
                padding: 7rem 0 0rem;
            }

            .h2 {
                max-width: 102rem;

                @include breakpoint(laptop) {
                    max-width: 60rem;
                }

                &.h2--full-width {
                    max-width: 100%;
                }
            }
        }
    }

    &__footer {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;

        width: 100%;
        margin-top: 3.5rem;
        padding-bottom: 2.5rem;

        border-style: solid;
        border-width: 0 0 1px 0;
        border-color: rgba(223, 224, 228, 0.80);

        @include breakpoint(tablet) {
            gap: 1.5rem;
            padding-bottom: 1.5rem;
        }
    }

    &__footer-tabs {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 1rem;

        @include breakpoint(tablet) {
            gap: 0.5rem;
        }
    }

    &--aspect {
        height: unset;

        @include breakpoint(tablet) {
            height: auto;
            min-height: unset;
        }

        .hero__inner-wrapper {
            aspect-ratio: 2.787 / 1;

            &::after {
                content: none;
            }

            @include breakpoint(tablet) {
                aspect-ratio: 1.787 / 1;
            }

            @include breakpoint(mobile) {
                aspect-ratio: 1 / 1.08;
            }
        }

        .hero__site-container {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-end;
        }

        .hero__secondary-heading {
            color: var(--white, #fff);

            .h2 {
                margin-bottom: 2rem;

                @include breakpoint(tablet) {
                    margin-bottom: 1.5rem;
                }
            }
            
            span {
                display: block;
                max-width: 86.5rem;

                @include maxSizeText(6);
            }
        }
    }

    &__aspect-picture {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1;

        img {
            display: block;
            min-height: 100%;
            object-fit: cover;
            object-position: center;
        }

        &::after {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 2;
            content: "";
            background-color: rgba(0, 0, 0, 0.25);
        }
    }

    &__map {
        position: absolute;
        top: 0;
        left: 0;
        bottom: -5rem;
        right: 0;
        z-index: 40;
    }

    &__map-popup {
        max-width: 50rem;
        padding: 3.5rem 4rem;
        background-color: var(--white, #fff);
        border-radius: 2rem;

        @include breakpoint(portrait-tablet) {
            max-width: 100%;
            padding: 2rem;
            border-radius: 1rem;
        }

        .h2 {
            margin-bottom: 3.5rem;
            padding-bottom: 3rem;
            border-width: 0 0 1px 0;
            border-style: solid;
            border-color: rgba(223, 224, 228, 0.8);

            @include breakpoint(portrait-tablet) {
                margin-bottom: 2rem;
                padding-bottom: 1.5rem;
            }
    
        }
    }

}


.animate-trigger {
    .hero__swiper-slide {
        &:first-child {
            .hero-slide__title {
                span:nth-child(1) {
                    @include breakpointMF(laptop) {
                        opacity: 0;
                        transform: translateY(-20%);
                    }
                }
                span:nth-child(2) {
                    @include breakpointMF(laptop) {
                        opacity: 0;
                        transform: translateY(-20%);
                    }
                }
                span:nth-child(3) {
                    @include breakpointMF(laptop) {
                        opacity: 0;
                        transform: translateY(-20%);
                    }
                }
            }

            .hero-slide__text {
                opacity: 0;
            }

            .hero-slide__buttons {
                opacity: 0;
                transform: translateY(10%);
            }
            
            &.image-slide {
                img {
                    @include breakpointMF(laptop) {
                        opacity: 0;
                        // transform: translateX(10%) scale(1.05);
                    }
                }
            }
        }
    }
}