.map-link {
    display: flex;
    align-items: center;
    column-gap: 0.8rem;

    .icon {
        width: 2.5rem;
        height: 2.5rem;
        fill: var(--yellow, #efef00);
        
        @include breakpoint(portrait-tablet) {
            width: 1.8rem;
            height: 1.8rem;
        }
    }

    span {
        white-space: nowrap;
    }
}