[class*="ymaps-2"][class*="-ground-pane"]{
    filter: grayscale(1) brightness(1);
}

.ya-placemark {
    display: flex;
    align-items: center;
    justify-content: center;
  
    width: 3rem;
    height: 3rem;
    
    cursor: pointer;
  
    .icon {
        width: 6rem;
        height: 7.1rem;
        flex-shrink: 0;

        @include breakpoint(portrait-tablet) {
            
        }
    }
  
    &--red {
        background-color: var(--accent);
    }
  }