.partnership {
    background-color: var(--back-3, #f5f6f9);

    &__body  {
        display: flex;
        align-items: center;
        column-gap: 1rem;

        @include breakpoint(tablet) {
            justify-content: space-between;
        }

        @include breakpoint(portrait-tablet) {
            padding: 8rem 0;
            flex-direction: column-reverse;
            align-items: stretch;
            column-gap: unset;
        }

        .button--link {
            @include breakpoint(mobile) {
                max-width: 100%;
            }
        }
    }

    &__info {
        padding: 16rem 0;
        flex-basis: 50%;

        @include breakpoint(laptop) {
            padding: 11rem 0;
        }

        @include breakpoint(portrait-tablet) {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 3rem 0 0;
            flex-basis: 100%;
        }

        @include breakpoint(mobile) {
            align-items: stretch;
        }

        
        .button--link {
            @include breakpoint(mobile) {
                max-width: 100%;
            }
        }
    }

    &__heading {
        margin-bottom: 6rem;

        .h2 {
            margin-bottom: 3rem;

            @include breakpoint(portrait-tablet) {
                text-align: center;
            }

            @include breakpoint(mobile) {
                margin-bottom: 1.5rem;
                text-align: left;
            }
        }

        @include breakpoint(portrait-tablet) {
            margin-bottom: 3rem;
        }
    }

    &__text {
        display: block;
        max-width: 56.2rem;

        @include breakpoint(laptop) {
            max-width: 42.2rem;

            @include breakpoint(portrait-tablet) {
                text-align: center;
            }

            @include breakpoint(mobile) {
                max-width: 80%;
                text-align: left;
            }
        }

        &--smaller {
            max-width: 50.2rem;

            @include breakpoint(laptop) {
                max-width: 35rem;
            }

            @include breakpoint(mobile) {
                max-width: 100%;
            }
        }
    }

    &__sliders-wrapper {
        display: flex;
        column-gap: 2rem;
        height: 69.5rem;

        @include breakpoint(laptop) {
            height: 56.5rem;
        }

        @include breakpoint(tablet) {
            margin: 0 auto;
        }

        @include breakpoint(portrait-tablet) {
            width: 100%;
            height: auto;
            flex: 0 0 auto;
        }
    }

    &__sliders {
        height: 100%;

        @include breakpoint(portrait-tablet) {
            height: unset;
        }
    }

    &__slider {
        @include breakpoint(portrait-tablet) {
            width: 100%;
        }

        &--second {
            @include breakpoint(tablet) {
                display: none;
            }
        }
    }

    &__swiper  {
        &.swiper {
            height: 100%;

            @include breakpoint(portrait-tablet) {
                height: auto;
                margin-right: -1rem;
                padding-right: 1rem;
            }
        }
    }

    &__swiper-wrapper  {
        &.swiper-wrapper {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            will-change: transform;
            transition-timing-function: ease-out;

            @include breakpoint(portrait-tablet) {
                flex-direction: row;
                justify-content: flex-start;
                align-items: flex-start;
            }
        }
    }

    &__swiper-slide {
        &.swiper-slide {
            margin-bottom: 2rem;

            &:last-child {
                margin-bottom: 0;
            }

            @include breakpoint(portrait-tablet) {
                margin-bottom: 0;
            }
        }
    }
}