.reviews {
    &__body {
        width: 100%;
        display: grid;
        grid-template-columns: minmax(319px, 92.7rem) minmax(453px, 45.3rem);
        grid-template-rows: 1fr;
        align-items: stretch;
        grid-gap: 2rem;

        @include breakpoint(desktop) {
            grid-template-columns: minmax(319px, 92.7rem) minmax(380px, 41rem);
        }

        @include breakpoint(tablet) {
            grid-template-columns: minmax(319px, 92.7rem) minmax(320px, 34rem);
        }

        @include breakpoint(portrait-tablet) {
            grid-template-columns: 100%;
            grid-template-rows: 1fr auto;
        }
    }

    &__swiper-control {
        position: absolute;
        right: 4rem;
        bottom: 3.5rem;
        z-index: 20;

        display: flex;
        align-items: center;
        column-gap: 1rem;

        @include breakpoint(laptop) {
            right: 2rem;
            bottom: 2.5rem;
        }

        @include breakpoint(tablet) {
            right: 0;
            column-gap: 0.5rem;
        }

        @include breakpoint(portrait-tablet) {
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
        }
    }

    &__swiper {
        &.swiper {
            @include breakpoint(portrait-tablet) {
                margin-right: -1rem;
                padding-right: 1rem;
            }
        }
    }

    &__swiper-slide {
        &.swiper-slide-active {
            .review__author {
                opacity: 1;
            }
        }
    }

    &__swiper-wrapper {
        &.swiper-wrapper {
            align-items: stretch;

            .swiper-slide {
                height: unset;
            }
        }
    }
}
