.reviews-link {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    height: 100%;
    padding: 3.5rem 4rem;

    color: var(--white, #FFF);
    background-color: var(--blue, #00A9C1);
    border-radius: 3rem;
    transition: background-color var(--transition);

    &__count {
        @include font(8.5rem, 1, 600);
        margin-bottom: 8rem;
        padding-right: 7rem;
        user-select: none;

        @include breakpoint(tablet) {
            @include font(6.2rem, 1.0483, 600);
            margin-bottom: 8rem;
            padding-right: 6rem;
        }
    }

    &__arrow {
        position: absolute;
        top: 4rem;
        right: 4rem;
        z-index: 1;

        .icon {
            width: 6rem;
            height: 6rem;
            fill-opacity: 0.1;
            transition: var(--transition);

            @include breakpoint(portrait-tablet) {
                width: 5rem;
                height: 5rem;
            }
        }

        @include breakpoint(laptop) {
            top: 2.5rem;
            right: 2.5rem;
        }

        @include breakpoint(portrait-tablet) {
            top: 2rem;
            right: 2rem;
        }
    }

    &__text {
        @include font(2.2rem, 1.363, 600);

        @include breakpoint(tablet) {
            @include font(1.8rem, 1.388, 600);
        }
    }

    &:hover {
        background-color: var(--blue-hover, #0097ac);

        .reviews-link__arrow {
            .icon {
                fill-opacity: 0.2;
            }
        }
    }

    @include breakpoint(laptop) {
        padding: 2.5rem;
    }

    @include breakpoint(tablet) {
        border-radius: 1.5rem;
    }

    @include breakpoint(portrait-tablet) {
        padding: 1.5rem 2rem;
    }
}