.team-section {
    &__item {
        display: flex;
        justify-content: space-between;
        column-gap: 6rem;
        flex-wrap: wrap;
        margin-bottom: 6rem;

        &:last-child {
            margin-bottom: 0;
        }

        @include breakpoint(small-tablet) {
            margin-bottom: 3rem;

            &:last-child {
                margin-bottom: 0;
            }
    
        }

        &:not(:first-child) {
            padding-top: 4rem;

            border-color: rgba(223, 224, 228, 0.80);
            border-style: solid;
            border-width: 1px 0 0 0;

            @include breakpoint(small-tablet) {
                padding-top: 3rem;
            }
        }
    }

    &__left {
        .h2 {
            margin-bottom: 1.5rem;
        }
    }

    &__right {
        flex: 0 1 80rem;
    }

    &__statistics {
        margin-top: 4rem;

        @include breakpoint(small-tablet) {
            margin-top: 2.5rem;
        }
    }

    &__text {
        margin-bottom: 2rem;

        &:last-child {
            margin-bottom: 0;
        }

        @include breakpoint(small-tablet) {
            margin-bottom: 1rem;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__title {
        @include font(2.2rem, 1.3636, 600, 2rem);

        @include breakpoint(small-tablet) {
            @include font(1.8rem, 1.3888, 600, 1rem);
        }
    }

    &__text-wrapper {
        margin-bottom: 4rem;

        &:last-child {
            margin-bottom: 0;
        }

        @include breakpoint(laptop) {
            margin-bottom: 2.5rem;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__team-list {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        margin-bottom: 3.5rem;

        li {      
            position: relative;
            flex-shrink: 0;

            &:not(:last-child) {
                margin-left: -2rem;
            }

            @include breakpoint(small-tablet) {
                &:not(:last-child) {
                    margin-left: -1rem;
                }
            }
        }
    }

    &__team-image {
        display: block;
        flex-shrink: 0;
        width: 8rem;
        height: 8rem;
        overflow: hidden;
        border-radius: 100%;
        border: 0.3rem solid var(--white, #FFF);

        @include breakpoint(small-tablet) {
            width: 6rem;
            height: 6rem;
            border-radius: 6rem;
        }

        img {
            display: block;
            width: 100%;
            min-height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}