.button {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 6rem;
    padding: 2rem 4rem;
    text-align: center;
    background-color: var(--blue, #00a9c1);
    border-radius: 1rem;

    transition: background-color var(--transition);

    span {
        @include font(1.5rem, 1.333, 600);
        display: block;
        color: var(--white, #FFF);
        transition: color var(--transition);
        white-space: nowrap;
    }

    &--link {
        max-width: max-content;
    }

    @include breakpointMF(tablet) {
        display: block;
    }

    @include hover {
        background-color: var(--blue-hover, #0097ac);       
    }

    @include breakpoint(small-tablet) {
        max-height: 5rem;
        border-radius: 0.7rem;
        
        span {
            @include font(1.4rem, 1.4285, 600);
        }
    } 

    &--secondary {
        background-color: var(--blue-op-01, rgba(0, 169, 193, 0.10));

        span {
            color: var(--blue, #00A9C1);
        }
        
        @include hover {
            background-color: var(--blue-op-015, rgba(0, 169, 193, 0.15));       
        }
    }

    &--transparent {
        background-color: transparent;

        span {
            color: var(--blue, #00A9C1);
        }

        @include hover {
            background-color: var(--blue-op-015, rgba(0, 169, 193, 0.15));       
        }
    }
}
