.social {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 6rem;
    height: 6rem;

    background-color: var(--blue-op-01, rgba(0, 169, 193, 0.10));
    border-radius: 1rem;
    transition: background-color var(--transition);

    .icon {
        display: block;
        width: 2.4rem;
        height: 2.4rem;
        fill: var(--blue, #00a9c1);
    }

    @include hover {
        background-color: var(--blue-op-015, rgba(0, 169, 193, 0.15));
    }

    &--footer {
        @include breakpoint(portrait-tablet) {
            width: 5rem;
            height: 5rem;
            border-radius: 0.7rem;

            .icon {
                width: 2.5rem;
                height: 2.5rem;
            }
        }
    }
}