html {
    font-size: 8px;
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;

    @include breakpointMF(mobile) {
        font-size: 10px;
    }

    @include breakpointMF(tablet) {
        font-size: 10px;
        font-size: unquote("clamp(9px, 0.52vw, 25px)");
    }

    @include noHighlight();
}

body {
    position: relative;
    min-width: 319px;
    color: var(--text, #333);
    text-rendering: optimizeSpeed;
    scroll-behavior: smooth;

    @include text-default;
}

.h1 {
    @include h1;
}

.h2 {
    @include h2;
}

@include color('white', var(--white, #fff));
@include color('text', var(--text, #333));
