.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

.swiper-slide {
    box-sizing: border-box;
    height: auto;
    display: flex;
    flex-direction: column;
}

.lazyload,
.lazyloading {
    opacity: 0;
}

.lazyloaded {
    opacity: 1;
    transition: opacity 300ms;
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    white-space: nowrap;
    border: 0;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
}

._accent-color {
    color: var(--accent);
}

._uppercase {
    text-transform: uppercase;
}

._white-color {
    color: var(--white);
}

input::placeholder {
    color: #666;
    font-size: 80%;
}

::selection {
    background-color: var(--accent, #aaa);
    color: #fff;
}

/* input validation behavior */
input:focus:required:invalid,
textarea:focus:required:invalid {
    border-color: red;
}

input:required:valid,
textarea:required:valid {
    border-color: green;
}

.disable-scroll {
    overflow: hidden;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}
