// site main container:
[class*="__site-container"] {
    width: 100%;
    max-width: calc(var(--max-container-width, 184rem) + 2 * var(--content-padding, 2rem));
    margin: 0 auto;
    padding: 0 var(--content-padding, 2rem);

    @supports (width: unquote("max(20vw, 100px)")) {
        padding-left: unquote("max(env(safe-area-inset-left, 1.4rem), var(--content-padding, 2rem))");
        padding-right: unquote("max(env(safe-area-inset-right, 1.4rem), var(--content-padding, 2rem))");
    }
}

.page-main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

.wrapper {
    position: relative;

    width: 100%;
    height: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.section {
    padding: 1.5rem 0;

    &:first-child {
        padding: 3rem 0 1.5rem;
    }

    &:last-child {
        padding: 1.5rem 0 3rem;
    }

    &__body {
        min-height: 60vh;
    }
}

._intro-padding-top {
    padding-top: var(--header-height);
}
