// site main container:
[class*="__site-container"] {
    width: 100%;
    max-width: calc(var(--max-container-width, 140rem) + 2 * var(--content-padding, 2rem));
    margin: 0 auto;
    padding: 0 var(--content-padding, 2rem);

    @supports (width: unquote("max(20vw, 100px)")) {
        padding-left: unquote("max(env(safe-area-inset-left, 1.4rem), var(--content-padding, 2rem))");
        padding-right: unquote("max(env(safe-area-inset-right, 1.4rem), var(--content-padding, 2rem))");
    }
}

.page-main {
    flex: 1 0 auto; 
    display: flex;
    flex-direction: column;

    &::before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 100;
        background: rgba(1, 18, 21, 0.10);
        content: none;
    }
}

.wrapper {
    position: relative;

    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.section {
    margin-top: 16rem;

    &__header {
        margin-bottom: 4.5rem;

        @include breakpoint(portrait-tablet) {
            margin-bottom: 2.5rem;
        }
    }

    &--overflow-hidden {
        overflow: hidden;
    }

    @include breakpoint(laptop) {
        margin-top: 10rem;
    }

    @include breakpoint(portrait-tablet) {
        margin-top: 7.8rem;
    }

    &--secondary {
        margin-top: 6rem;

        @include breakpoint(laptop) {
            margin-top: 5rem;
        }

        @include breakpoint(portrait-tablet) {
            margin-top: 3rem;
        }
    }

    &--article {
        margin-top: 4.5rem;

        @include breakpoint(laptop) {
            margin-top: 3rem;
        }

        @include breakpoint(portrait-tablet) {
            margin-top: 2.5rem;
        }
    }
}

._intro-padding-top {
    padding-top: var(--header-height);
}
