.page-header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 200;

    // flex: 0 0 max-content;
    width: 100%;
    max-width: 100%;
    padding: 1.2rem 0;

    background-color: var(---back, #eee);

    &__site-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
